<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {margin:0;}
        
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
          position: fixed;
          top: 0;
          width: 100%;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover:not(.active) {
          background-color: #111;
        }
        
        .active {
          background-color: #04AA6D;
        }
        </style>
</head>
<body>
    
    <!-- <ul>
        <li><a href="">TODO SPACE</a></li>
        <li><a href="">About</a></li>
        <li><a class="" href="/views/signup">Signup</a></li>
        <li><a class="" href="/views/index">Login</a></li>
        <% if (user !== null) { %>
            <li><a class="active" href="/views/home">Home</a></li>
            <li><a class="" href="/views/task">Create Task</a></li>
            <li><a href="/views/logout">Logout</a></li>
            <li><a href="">Welcome <%= user.email %></a></li>
          <% } %>
      </ul> -->
      <ul>
        <li><a href="">TODO SPACE</a></li>
        <li><a href="">About</a></li>
        <% if (user === null) { %>
            <li><a class="" href="/views/signup">Signup</a></li>
            <li><a class="" href="/views/index">Login</a></li>
            <li><a class="" href="/views/forgotPassword">Forgot-Password</a></li>
        <% } %>
        <% if (user !== null) { %>
            <li><a class="active" href="/views/home">Home</a></li>
            <li><a class="" href="/views/task">Create Task</a></li>
            <li><a href="/views/logout">Logout</a></li>
            <% if (user.email) { %>
                <li><a href="">Welcome <%= user.email %></a></li>
            <% } %>
        <% } %>
    </ul>
    
</body>
</html>